.button {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.button .div {
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .label-2 {
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .class {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.button .class-2 {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.button .class-3 {
  height: 14px !important;
  position: relative !important;
  width: 14px !important;
}

.button .class-4 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button .class-5 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.button .path {
  position: relative;
}

.button .label-3 {
  color: var(--brand-purple);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button.outlined {
  border: 1px solid;
  border-color: var(--default-white);
  border-radius: 6px;
  overflow: hidden;
}

.button.secondary {
  background-color: var(--brand-purple-100);
}

.button.filled {
  border-radius: 6px;
  gap: 10px;
}

.button.primary {
  background-color: var(--brand-purple);
}

.button.label.link {
  gap: 16px;
}

.button.outlined.medium {
  padding: 10px 16px;
}

.button.small.filled {
  padding: 6px 12px;
}

.button.small.outlined {
  padding: 6px 12px;
}

.button.label.outlined {
  gap: 16px;
}

.button.filled.medium {
  padding: 10px 20px;
}

.button.play-label.link {
  gap: 8px;
}

.button.filled.large {
  padding: 12px 32px;
}

.button.outlined.large {
  gap: 16px;
  padding: 12px 20px;
}

.button.label-icon.link {
  gap: 8px;
}

.button.small.outlined.primary {
  gap: 4px;
}

.button.play-label.small.outlined {
  gap: 8px;
}

.button.outlined.medium.secondary {
  gap: 8px;
}

.button.outlined.medium.primary {
  gap: 8px;
}

.button.label-icon.small.outlined {
  gap: 4px;
}

.button.outlined.play-label.medium {
  gap: 8px;
}

.button.label-icon.outlined.medium {
  gap: 8px;
}

.button.small.outlined.secondary {
  gap: 4px;
}

.button.large .div {
  font-family: var(--label-large-label-font-family);
  font-size: var(--label-large-label-font-size);
  font-style: var(--label-large-label-font-style);
  font-weight: var(--label-large-label-font-weight);
  letter-spacing: var(--label-large-label-letter-spacing);
  line-height: var(--label-large-label-line-height);
}

.button.play-label .div {
  color: var(--brand-purple);
}

.button.secondary .div {
  color: var(--brand-purple);
}

.button.small .div {
  font-family: var(--label-small-label-font-family);
  font-size: var(--label-small-label-font-size);
  font-style: var(--label-small-label-font-style);
  font-weight: var(--label-small-label-font-weight);
  letter-spacing: var(--label-small-label-letter-spacing);
  line-height: var(--label-small-label-line-height);
}

.button.filled .div {
  text-align: center;
}

.button.label .div {
  color: var(--brand-purple);
}

.button.medium .div {
  font-family: var(--label-medium-label-font-family);
  font-size: var(--label-medium-label-font-size);
  font-style: var(--label-medium-label-font-style);
  font-weight: var(--label-medium-label-font-weight);
  letter-spacing: var(--label-medium-label-letter-spacing);
  line-height: var(--label-medium-label-line-height);
}

.button.primary .div {
  color: var(--default-white);
}

.button.label-icon .div {
  color: var(--brand-purple);
}

.button.outlined .label-2 {
  color: var(--default-white);
  text-align: center;
}

.button.large .label-2 {
  font-family: var(--label-large-label-font-family);
  font-size: var(--label-large-label-font-size);
  font-style: var(--label-large-label-font-style);
  font-weight: var(--label-large-label-font-weight);
  letter-spacing: var(--label-large-label-letter-spacing);
  line-height: var(--label-large-label-line-height);
}

.button.small .label-2 {
  font-family: var(--label-small-label-font-family);
  font-size: var(--label-small-label-font-size);
  font-style: var(--label-small-label-font-style);
  font-weight: var(--label-small-label-font-weight);
  letter-spacing: var(--label-small-label-letter-spacing);
  line-height: var(--label-small-label-line-height);
}

.button.link .label-2 {
  color: var(--brand-purple);
}

.button.medium .label-2 {
  font-family: var(--label-medium-label-font-family);
  font-size: var(--label-medium-label-font-size);
  font-style: var(--label-medium-label-font-style);
  font-weight: var(--label-medium-label-font-weight);
  letter-spacing: var(--label-medium-label-letter-spacing);
  line-height: var(--label-medium-label-line-height);
}

.button.large .path {
  height: 16px;
  width: 11px;
}

.button.medium .path {
  height: 13px;
  width: 9px;
}

.button.small .path {
  height: 11px;
  width: 8px;
}

.button.large .label-3 {
  font-family: var(--label-large-label-font-family);
  font-size: var(--label-large-label-font-size);
  font-style: var(--label-large-label-font-style);
  font-weight: var(--label-large-label-font-weight);
  letter-spacing: var(--label-large-label-letter-spacing);
  line-height: var(--label-large-label-line-height);
}

.button.medium .label-3 {
  font-family: var(--label-medium-label-font-family);
  font-size: var(--label-medium-label-font-size);
  font-style: var(--label-medium-label-font-style);
  font-weight: var(--label-medium-label-font-weight);
  letter-spacing: var(--label-medium-label-letter-spacing);
  line-height: var(--label-medium-label-line-height);
}

.button.small .label-3 {
  font-family: var(--label-small-label-font-family);
  font-size: var(--label-small-label-font-size);
  font-style: var(--label-small-label-font-style);
  font-weight: var(--label-small-label-font-weight);
  letter-spacing: var(--label-small-label-letter-spacing);
  line-height: var(--label-small-label-line-height);
}
