.header-menu-default {
  align-items: center;
  display: inline-flex;
  gap: 10px;

}

.header-menu-default .text-wrapper {
  color: var(--text-gray-900);
  font-family: var(--label-medium-label-font-family);
  font-size: var(--label-medium-label-font-size);
  font-style: var(--label-medium-label-font-style);
  font-weight: var(--label-medium-label-font-weight);
  letter-spacing: var(--label-medium-label-letter-spacing);
  line-height: var(--label-medium-label-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper:hover {
  color: #5DADE2 !important;
  cursor: pointer;
}
.active-url{
  color: #2ECC71 !important;
  font-weight: bold;
  font-size: var(--label-medium-label-font-size);
}