:root {
  --body-body-1-font-family: "Inter-Regular", Helvetica;
  --body-body-1-font-size: 16px;
  --body-body-1-font-style: normal;
  --body-body-1-font-weight: 400;
  --body-body-1-letter-spacing: 0px;
  --body-body-1-line-height: 26px;
  --brand-purple: rgba(140, 48, 245, 1);
  --brand-purple-translucid: rgba(140, 48, 245, 0.06);
  --brand-purple-100: rgba(241, 228, 255, 1);
  --default-white: rgba(255, 255, 255, 1);
  --heading-h5-font-family: "Inter-SemiBold", Helvetica;
  --heading-h5-font-size: 24px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 600;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 32px;
  --label-large-label-font-family: "Inter-Medium", Helvetica;
  --label-large-label-font-size: 16px;
  --label-large-label-font-style: normal;
  --label-large-label-font-weight: 500;
  --label-large-label-letter-spacing: 0px;
  --label-large-label-line-height: 24px;
  --label-medium-label-font-family: "Inter-Medium", Helvetica;
  --label-medium-label-font-size: 14px;
  --label-medium-label-font-style: normal;
  --label-medium-label-font-weight: 500;
  --label-medium-label-letter-spacing: 0px;
  --label-medium-label-line-height: 20px;
  --label-small-label-font-family: "Inter-Medium", Helvetica;
  --label-small-label-font-size: 12px;
  --label-small-label-font-style: normal;
  --label-small-label-font-weight: 500;
  --label-small-label-letter-spacing: 0px;
  --label-small-label-line-height: 16px;
}


.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.div-2 {
  background-color: #ffffff;
  height: 1708px;
  width:100%;
}

.header {
 
  background-color: #ffffff;
  box-shadow: 0px 1px 0px #e5e9f2;
  height: 72px;
  width: 100%;
  padding-block: 1rem;
}
.header-content{
  display: flex;
  padding-inline: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

 .middle-nav-items {
  align-items: center;
  display: inline-flex;
  gap: 32px;
}

 .design-component-instance-node {
  flex: 0 0 auto !important;
}

 .button-instance {
  cursor: pointer;
  text-transform: 'none';
  background-color: #F05454 !important;
  color: white;
}

 .hi-traffic {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 20px;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

 .span {
  color: #1180d1;
}

.text-wrapper-2 {
  color: #000000;
}

 .text-wrapper-3 {
  color: #ef5353;
}

 .feature-single {
  background-color: var(--default-white);
  height: 776px;
  left: 0;
  width: 100%;
}

 .overlap {
  background-color: #192334;
  height: 776px;
  position: relative;
}

.section-content {

  background-color: #192334;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

 .content-group {
  align-items: flex-start;
  background-color: #ec7063;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  height: 350px;

}

.content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 48px;
}



.headline {
  color: var(--default-white);
  font-family: var(--heading-h3-font-family);
  font-size: var(--heading-h3-font-size);
  font-style: var(--heading-h3-font-style);
  font-weight: var(--heading-h3-font-weight);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  margin-top: -1px;
  position: relative;
  width: 444px;
}

.description {
  color: var(--text-gray-7);
  font-family: var(--lead-lead-1-font-family);
  font-size: var(--lead-lead-1-font-size);
  font-style: var(--lead-lead-1-font-style);
  font-weight: var(--lead-lead-1-font-weight);
  letter-spacing: var(--lead-lead-1-letter-spacing);
  line-height: var(--lead-lead-1-line-height);
  position: relative;
  display: flex;
  text-wrap: wrap;
  padding: 1px;
}

 .button-2 {
  color: var(--default-white) !important;
}

.img-home {
  width: 740px;
  position: relative;
  bottom: 80px;
  left: 100px;
}

.description-section{
  width: 430px;
  color: white;
  border-radius: 4px;
  /* color: white;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */

}
.section-padding{
  padding-inline: 15rem;
  display: flex;
  flex-direction: row;
}


.overlap-group {
  height: 575px;
  left: -63px;
  position: relative;
  width: 687px;
}

 .ht {
  height: 529px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 562px;
}

.seal {
  height: 322px;
  left: 420px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 267px;
}

.semaforo {
  height: 255px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 320px;
  width: 213px;
}

 .img {
  height: 311px;
  left: 1046px;
  object-fit: cover;
  position: absolute;
  top: 344px;
  width: 293px;
}

 .footer-big {
  align-items: center;
  background-color: #192334;
  display: flex;
  flex-direction: column;
  
  padding-top: 4rem;
  position: absolute;
  margin-top: 3rem;
  width: 100%;
}

.big-footer {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  padding: 64px 0px;
  position: relative;
}

 .col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 255px;
}



.list-items {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

 .text-wrapper-5 {
  color: var(--text-gray-200);
  font-family: var(--body-body-2-font-family);
  font-size: var(--body-body-2-font-size);
  font-style: var(--body-body-2-font-style);
  font-weight: var(--body-body-2-font-weight);
  letter-spacing: var(--body-body-2-letter-spacing);
  line-height: var(--body-body-2-line-height);
  margin-top: -1px;
  position: relative;
  width: 255px;
}

 .text-wrapper-6 {
  color: var(--text-gray-200);
  font-family: var(--body-body-2-font-family);
  font-size: var(--body-body-2-font-size);
  font-style: var(--body-body-2-font-style);
  font-weight: var(--body-body-2-font-weight);
  letter-spacing: var(--body-body-2-letter-spacing);
  line-height: var(--body-body-2-line-height);
  position: relative;
  width: 255px;
}

.col-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

 .divider {
  height: 1px;
  position: relative;
  width: 100%;
}

 .small-footer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 24px 0px;
  position: relative;
}



.icon-details {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 56px;
  position: relative;
}

.feature-icons {
  background-color: #d9d9d9;
  height: 32px;
  position: relative;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.details {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.headline {
  color: #0b0d17;
  font-family: var(--heading-h5-font-family);
  font-size: var(--heading-h5-font-size);
  font-style: var(--heading-h5-font-style);
  font-weight: var(--heading-h5-font-weight);
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
  margin-top: -1px;
  position: relative;
  width: 286px;
}

.description {
  color: #0b0d17;
  font-family: var(--body-body-1-font-family);
  font-size: var(--body-body-1-font-size);
  font-style: var(--body-body-1-font-style);
  font-weight: var(--body-body-1-font-weight);
  letter-spacing: var(--body-body-1-letter-spacing);
  line-height: var(--body-body-1-line-height);
  position: relative;
  width: 286px;
}

.btn-section{
  color: var(--brand-purple);
  font-family: var(--body-body-1-font-family);
  font-size: var(--body-body-1-font-size);
  font-style: var(--body-body-1-font-style);
  font-weight: var(--body-body-1-font-weight);
  letter-spacing: var(--body-body-1-letter-spacing);
  line-height: var(--body-body-1-line-height);
  text-transform: none;
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 120px;
  padding-inline: 10px;
  cursor: pointer;
  position: relative;
}

.btn-section:hover{

  background-color: var(--brand-purple-translucid);
  color: var(--brand-purple);
  border-radius: 4px;

}
.btn-text{
  margin: 0;
}



@media screen and (max-width: 680px) {
  .img-home  {
    width: 430px;
    bottom: 0px;
    left: 0px;
  }
  .content-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
  }
  .section-padding{
    padding: 0px;
  }
  .content{
    padding: 0;
  }
}